//
//  AppConfig.swift
//  FlightSchedule
//
//  Copyright (c) Microsoft. All rights reserved.
//  Licensed under the MIT license. See LICENSE.txt in the project root for license information.
//

import Foundation

struct AppConfig {
    // Application ID from the Azure portal
    static let appId = "YOUR_APP_ID_HERE"
    // Tenant ID from the Azure portal
    static let tenantId = "YOUR_TENANT_ID_HERE"
    // Permissions scopes needed by the app
    static let scopes = [
        "User.Read",            // Read access to the logged-in user's profile and photo
        "User.Read.All",        // Read access to other users' profiles and photos
        "Calendars.Read"        // Read access to the logged-in user's calendar
    ]
    // The verified domain configured for your Cross-Device Experiences
    // notifications (Project Rome)
    static let notificationDomain = "YOUR_CROSS_DEVICE_DOMAIN_HERE"

    // The notification scope exposed by the Flight Team Notification Service
    static let notificationScopes = [
        "api://c23134f5-9d30-495e-acab-0099f4a761a1/Notifications.Send"
    ]

    // The hostname for the Azure Function hosting the ConnectGraphNotifications function
    static let notificationApiEndpoint = "https://c31c9fa0.ngrok.io"
}
